/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}
.button {
  background: #007bff;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
}

.button:hover {
  background: #005fcc;
}
